@font-face {
	font-family: "GoogleSans";
	src: url("../fonts/GoogleSans-Medium.ttf");
}

:root {
	--material-grey: rgb(51, 68, 85);
	--material-grey-dark: rgb(55, 71, 79);
	--material-white: rgb(216, 237, 255);
	--material-red: rgb(255, 59, 48);
	--material-red-light: tomato;
	--material-blue: dodgerblue;
	--material-green: rgb(0, 166, 81);
	--material-yellow: rgb(255, 204, 0);
	--material-teal: rgb(0, 150, 136);

	--divider-color: rgb(114, 114, 114);
}

* {
	padding: 0;
	margin: 0;
}

body {
	/* background-image: url("./img/bg.jpg"); */
	background: var(--material-white) !important;
	width: 100%;
	/* background-repeat: repeat-y; */
	font-family: "GoogleSans";
}

nav {
	background-color: var(--material-grey) !important;
	width: 100%;
	border-radius: 50px;
}

.dark {
	background: var(--material-grey) !important;
	color: var(--material-white) !important;
}

.divider {
	/* background-color: rgb(34, 90, 78); */
	background-color: var(--divider-color);
}

.image-footer span {
	color: var(--material-grey);
}

.image-footer__dark {
	color: var(--material-white);
}

.h3__algoTable {
	color: var(--material-grey);
}

.h3__algoTable__dark {
	color: var(--material-white);
}

.table-algo {
	color: var(--material-grey);
	border-color: var(--material-grey);
}

.table-algo__dark {
	color: var(--material-white) !important;
	border-color: var(--material-white) !important;
}

.h3__atAGlance {
	color: var(--material-grey);
}

.h3__atAGlance__dark {
	color: var(--material-white);
}

#aboutus > div.container > div > div.col.l6.s12 > div {
	background-color: var(--material-white);
}

#aboutus > div.container > div > div.col.l4.offset-l2.s12 > div {
	background-color: var(--material-white);
}
